@import '../abstract/variables'

button:hover:focus, button:active:focus, button:focus
  box-shadow: none !important

.newpage-btn, .newpage-btn:focus
  border-color: $mainorange
  box-shadow: none
  background-color: $mainorange
  color: $mainwhite

  &:hover, &:active
    background-color: $secondaryorange
    border-color: $secondaryorange

.newpage-btn.disabled, .newpage-btn.disabled:focus
  border-color: $maingray
  box-shadow: none
  background-color: $maingray
  color: $mainwhite

  &:hover, &:active
    background-color: $maingray
    border-color: $maingray


#deck-content-container > div > div > div > div.card-body > div > .dropdown-toggle,
#deck-content-container > div > div > div > div.card-body > div > .dropdown-toggle:focus
  border-color: $mainorange
  box-shadow: none
  background-color: $mainorange
  color: $mainwhite

  &:hover, &:active
    background-color: $secondaryorange
    border-color: $secondaryorange