@import '../abstract/variables'

button:hover:focus, button:active:focus, button:focus
  box-shadow: none !important

.newpage-btn, .newpage-btn:focus
  border-color: $mainorange
  box-shadow: none
  background-color: $mainorange
  color: $mainwhite

  &:hover, &:active
    background-color: $secondaryorange
    border-color: $secondaryorange