{% extends 'base.html' %}
{% set active_page = "about" %}
{% block container %}

    <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h2>About</h2>
            <p>As the creator of this website, I've had my fair share of language learning experiences. In my
                classes I've never really struggled with learning characters, or speaking but vocabulary consistently
                failed to stick. I've always attributed this to the fact that I was learning from a printed vocabulary
                book, no examples, no assisting techniques, just plain memorizing. I knew I could do something about
                this, using all the modern techniques in the book to make our journey a little easier.</p>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h2>Sources</h2>
            <p>Original vocabulary data: <a href="http://tanos.co.uk/">tanos.co.uk</a></p>
            <p>Online dictionary links: <a href="https://jisho.org">jisho.org</a></p>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h2>Contact</h2>
            <p>Will be linked once the social media are set up.</p>
        </div>
    </div>

{% endblock %}