{% extends 'base.html' %}
{% set active_page = "about" %}
{% block container %}

    <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h2>About</h2>
            <p>I've had my fair share of different language learning methods and experiences. In my own
                classes I've never really struggled with learning characters, or speaking, but vocabulary consistently
                failed to stick. I've always attributed this to the fact that I was learning from a printed vocabulary
                book, no examples, no assisting techniques, no nothing, just plain old memorizing. I knew I could do
                something about this, considering all the wonderful techniques we have available now. So I put my
                website creation skills to the test, and made VocaBee, just to make your journey a little easier.</p>
            <p><i>~Michael (Creator of VocaBee)</i></p>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h2>Sources</h2>
            <p>Original vocabulary data from <a href="http://tanos.co.uk/">tanos.co.uk</a><br>
                Online dictionary links: <a href="https://jisho.org">jisho.org</a></p>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h2>Contact</h2>
            <p>Will be linked once the social media are set up.</p>
        </div>
    </div>

{% endblock %}