{% extends 'base.html' %}
{% set active_page = "deck" %}

{% block container %}
    <title>Anki decks - VocaBee</title>
    <!--Stylesheets -->
    <link href="{{ url_for('home.static', filename='css/components/cards.css') }}" rel="stylesheet">

    <div class="container-fluid text-container">
        <h1>VocaBee flashcard decks</h1>
        <p>
            Check out our comprehensive flashcard decks, ready to get you going on your Japanese journey. The decks are
            newly created periodically, featuring the same content that you can find on the site. We currently work with
            the most popular flashcard software, Anki, which has been the staple choice for years.
            If you don't know what Anki is, check out <a href="https://apps.ankiweb.net">their website </a>here.
        </p>
    </div>

    <div class="container-fluid" id="deck-content-container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">Select your desired level</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Take note, the deck download can take a while if a
                            new generation is taking place.</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="input-group">
                                <label for="levelSelect"></label>
                                <select class="custom-select" id="levelSelect">
                                    <option value="5">JLPT N5</option>
                                    <option value="4">JLPT N4</option>
                                    <option value="3">JLPT N3</option>
                                    <option value="2">JLPT N2</option>
                                    <option value="1">JLPT N1</option>
                                </select>
                                <div class="input-group-append">
                                    <a class="btn btn-primary action-btn" title="Download deck"
                                       id="deckDownloadBtn"
                                       download>Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Set download url (href) based on the dropdown selection
        let urlBase = "{{ url_for('home.get_anki_deck', vocab_level=5) }}";
        let downloadBtn = $("#deckDownloadBtn")[0];
        downloadBtn.href = urlBase;

        $("#levelSelect").change(function () {
            let selectionLevel = this.value;
            downloadBtn.href = urlBase.slice(0, -1) + selectionLevel;
        });
    </script>
{% endblock %}