{% extends 'base.html' %}
{% set active_page = "deck" %}

{% block container %}
    <title>Anki decks - VocaBee</title>
    <!--Stylesheets -->
    <link href="{{ url_for('home.static', filename='css/components/cards.css') }}" rel="stylesheet">

    <div class="container-fluid text-container">
        <h1>VocaBee flashcard decks</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum."</p>
    </div>

    <div class="container-fluid" id="deck-content-container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl">
                <div class="card text-center">
                    <div class="card-header"><h5 class="card-title">Select your desired level</h5></div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="levelSelect"></label>
                            <select class="form-control" id="levelSelect">
                                <option>JLPT N5</option>
                                <option>JLPT N4</option>
                                <option>JLPT N3</option>
                                <option>JLPT N2</option>
                                <option>JLPT N1</option>
                            </select>
                        </div>
                        <a class="btn btn-primary action-btn" title="Download deck" id="deckDownloadBtn"
                           href="{{ url_for('home.get_anki_deck', vocab_level=5) }}" download>Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let urlBase = "{{ url_for('home.get_anki_deck', vocab_level=5) }}";

        $("#levelSelect").click(function () {
            let selection = this.value;
            let selectionLevel = selection.slice(-1);
            let newUrl = urlBase.slice(0, -1) + selectionLevel;
            console.log(newUrl);
            $("deckDownloadBtn").href = newUrl;
        });
    </script>
{% endblock %}