{% extends 'base.html' %}
{% set active_page = "home" %}

{% block container %}
    <title>Home - VocaBee</title>
    <div class="container-fluid text-container">
        <div class="jumbotron jumbo-orange">
            <h2>Learn Japanese right from the convenience of your computer</h2>
            <p class="lead">Stop struggling. Instead of grinding it out with a thick and boring vocabulary book,
                why not make it a little easier on yourself? Make use of our convenient features and instantly boost
                your learning curve!</p>
        </div>

        <div class="row ">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl d-flex align-items-stretch">
                <div class="card text-center">
                    <div class="card-header"><h5 class="card-title">Vocabulary browser</h5></div>
                    <div class="card-body d-flex flex-column">
                        <p>8000+ vocabulary entries, more than enough to get you prepared for the JLPT exam.
                            150.000 example sentences covering 99% of the entries, and now you'll always know how to
                            use a word.</p>
                        <div class="mt-auto">
                            <a href="{{ url_for('home.vocab_index') }}" class="btn btn-primary action-btn"
                               title="Vocabulary browser">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl d-flex align-items-stretch">
                <div class="card text-center">
                    <div class="card-header"><h5 class="card-title">Dynamically generated Flashcards</h5></div>
                    <div class="card-body d-flex flex-column">
                        <p>As long as you're willing to put the time in, flashcards are guaranteed to steadily get you
                            where you want. Obviously we couldn't leave these out, and we feature these in the form of
                            the ever popular Anki decks!</p>
                        <div class="mt-auto">
                            <a href="{{ url_for('home.deck') }}" class="btn btn-primary action-btn"
                               title="Vocabulary browser">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl d-flex align-items-stretch">
                <div class="card text-center">
                    <div class="card-header"><h5 class="card-title">Vocabulary quiz (coming soon)</h5></div>
                    <div class="card-body d-flex flex-column">
                        <p>Test your Japanese knowledge with this interactive quiz. Select the right level for you, and
                            steadily
                            progress in your studies.</p>
                        <div class="mt-auto">
                            <a href="{{ url_for('home.vocab_index') }}" class="btn btn-primary action-btn disabled"
                               title="Vocabulary browser">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl d-flex align-items-stretch">
                <div class="card text-center">
                    <div class="card-header"><h5 class="card-title">Custom vocabulary lists (coming soon)</h5></div>
                    <div class="card-body d-flex flex-column">
                        <p>Don't like our collection? No worries, you can create your own! Create a selection of words
                            you know
                            you struggle with, or a selection of words that you just have to remember for your next
                            vacation.</p>
                        <div class="mt-auto">
                            <a href="{{ url_for('home.vocab_index') }}" class="btn btn-primary action-btn disabled"
                               title="Vocabulary browser">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}