{% extends 'base.html' %}
{% set active_page = "vocab" %}

{% block container %}
    <title>JLPT vocabulary - VocaBee</title>
    <!--Stylesheets -->
    <link href="{{ url_for('home.static', filename='css/components/cards.css') }}" rel="stylesheet">

    <div class="container-fluid text-container">
        <h1>Select your level</h1>
        <p>Our vocabulary lists are split up into five levels, following the format of the popular JLPT exam.
            5 being the easiest, and 1 being the hardest. To go to a specific level, click on the relevant button for
            each card.</p>
    </div>

    <div class="container-fluid" id="vocab-index-table-container">
        <div class="row">
            {% for i in range(5)|reverse %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl">
                    <div class="card text-center">
                        <div class="card-header"><h5 class="card-title">N{{ i + 1 }}</h5></div>
                        <div class="card-body">
                            {% if i + 1 == 5 %}
                                <p class="card-text">Newbie</p>
                            {% elif i + 1 == 4 %}
                                <p class="card-text">Beginner</p>
                            {% elif i + 1 == 3 %}
                                <p class="card-text">Intermediate</p>
                            {% elif i + 1 == 2 %}
                                <p class="card-text">Advanced</p>
                            {% elif i + 1 == 1 %}
                                <p class="card-text">Near-native</p>
                            {% endif %}
                            <a href="{{ url_for('home.vocab', vocab_level=i + 1) }}" class="btn btn-primary action-btn"
                               title="JLPT N{{ i + 1 }} vocabulary">Go</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}