@import '../abstract/variables'

.btn-primary, .btn-outline-primary
  border-color: $mainorange
  box-shadow: none !important

.btn-primary, .btn-primary:focus
  background-color: $mainorange
  color: $mainwhite

.btn-outline-primary
  color: $mainorange

.btn-primary:hover, .btn-primary:active, .btn-outline-primary:hover, .btn-outline-primary:active
  background-color: $secondaryorange !important
  border-color: $secondaryorange !important