#vocab-table-container {
    padding: 10px;
}

#vocab-index-table-container {
    margin-top: 10px !important;
}

.card {
    margin-bottom: 15px;
}

.navbar-nav {
    color: #BABABA;
}


.navbar-nav > .active > a {
    color: #F8F8F8;
}

.nav-item > a:hover {
    color: #D9D9D9;
}