@import '../abstract/variables'

.navbar
  background-color: $main-black

div#main-navbar
  padding-top: 3px

a
  &.nav-link
    color: $main-white !important

  &:hover
    color: $accent-white !important

.navbar-nav > .active > a
  color: $main-orange !important