.navbar
  background-color: #422f2f

div#main-navbar
  padding-top: 3px

a
  &.nav-link
    color: #fbf9f9 !important

  &:hover
    color: #EFE7E7 !important

.navbar-nav > .active > a
  color: #f1d224 !important