.container-fluid {
    padding: 10px;
}

.card {
    margin-bottom: 15px;
}

/* Navbar settings */
.navbar {
    background-color: #f1d224;
}

a {
    color: #ffffff !important;
}

a:hover {
    color: #f19f24 !important;
}

.navbar-nav > .active > a {
    color: #000000 !important;
}


.pagination {
    flex-wrap: wrap;
}