.container-fluid {
    padding: 10px;
}

.card {
    margin-bottom: 15px;
}

/* Navbar settings */
.navbar-nav {
    color: #BABABA;
}


.navbar-nav > .active > a {
    color: #F8F8F8;
}

.nav-item > a:hover {
    color: #D9D9D9;
}

.pagination {
    flex-wrap: wrap;
}