body {
    font-family: "Open Sans", sans-serif;
}

.container-fluid {
    padding: 10px;
}

.card {
    margin-bottom: 15px;
}

/* Navbar settings */
.navbar {
    background-color: #422f2f;
}

div#main-navbar {
    padding-top: 3px;
}

a.nav-link {
    color: #fbf9f9 !important;
}

a:hover {
    color: #EFE7E7 !important;
}

.navbar-nav > .active > a {
    color: #f1d224 !important;
}


/* Mobile friendlyness */
.pagination {
    flex-wrap: wrap;
}