/////////////////
// Site colors //
/////////////////

// Main black, used as text color
$mainblack: rgb(40, 35, 35)
// Secondary black, used as background color
$secondaryblack: rgb(60, 60, 60)

// Main gray, used in disabled states
$maingray: rgb(157, 157, 157)

// Main white, for site background and darkmode text
$mainwhite: rgb(249, 249, 249)
// Secondary white, used to contrast main white
$secondarywhite: rgb(241, 238, 239)

// Main orange color for theming
$mainorange: rgb(250, 154, 0)
// Darker version of main orange, for hover states
$secondaryorange: rgb(235, 138, 0)
// Opaque main orange,for backgrounds
$mainorange_bg: rgba(250, 154, 0, 0.05)

// Blue colors, for links
$mainblue: rgb(0, 133, 249)
$secondaryblue: rgb(0, 95, 249)

// Layout
$navbar-breakpoint: 768px