// Site colors
$mainblack: rgb(40, 35, 35)
$secondaryblack : rgb(60, 60, 60)

$mainwhite: rgb(255, 255, 255)
$secondarywhite: rgb(241, 238, 235)

$mainorange: rgb(250, 154, 0)
$secondaryorange: rgb(235, 138, 0)

$mainblue: rgb(0, 133, 249)
$secondaryblue: rgb(0, 95, 249)

// Layout
$navbar-breakpoint: 980px