// Site colors
$mainblack: rgb(40, 35, 35)
$secondaryblack : rgb(60, 60, 60)

$maingray : rgb(157, 157, 157)

$mainwhite: rgb(249, 249, 249)
$secondarywhite: rgb(241, 238, 239)

$mainorange: rgb(250, 154, 0)
$secondaryorange: rgb(235, 138, 0)

$mainblue: rgb(0, 133, 249)
$secondaryblue: rgb(0, 95, 249)

// Layout
$navbar-breakpoint: 768px