{% extends "base.html" %}
{% from "security/_macros.html" import render_field_errors %}

{% block container %}
    <title>Login - VocaBee</title>

    <div class="align-items-center">
        <div class="row">
            <div class="col-xxl"></div>

            <div class="col-xxl">
                <div class="container-fluid text-container text-center">
                    <h1>Welcome back</h1>
                    <p>
                        Sign in to keep your lists up to date.
                    </p>
                </div>
                <div class="container-fluid" id="login-content-container">
                    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form"
                          class="needs-validation">
                        {{ login_user_form.hidden_tag() }}

                        <div class="mb-3 row">
                            <div class="form-floating">
                                {% if login_user_form.email.errors %}
                                    <input type="email" name="email" class="form-control is-invalid" id="emailInput" value=""
                                           placeholder="name@example.com">
                                    <div class="invalid-feedback" id="emailInvalidLabel">
                                        {% for error in login_user_form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <input type="email" name="email" class="form-control" id="emailInput" value=""
                                           placeholder="name@example.com">
                                {% endif %}
                                <label for="emailInput">Email address</label>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="form-floating">
                                {% if login_user_form.password.errors %}
                                    <input class="form-control is-invalid" id="passwordInput" name="password"
                                           placeholder="password" type="password" value="">
                                    <div class="invalid-feedback" id="passwordInvalidLabel">
                                        {% for error in login_user_form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <input class="form-control" id="passwordInput" name="password"
                                           placeholder="password" type="password" value="">
                                {% endif %}
                                <label for="passwordInput">Password</label>
                            </div>
                        </div>

                        <div class="mb-4 row">
                            <!--TODO: unhide this when the forgot password feature is implemented -->
                            <a class="text-right" hidden>Forgot password?</a>
                        </div>

                        <div class="mb-4 row">
                            <button class="btn btn-primary action-btn" id="loginBtn" title="Log me in" type="submit"
                                    value="login" style="width: 100%">
                                Login
                            </button>
                        </div>

                        <div class="mb-4 row">
                            <a class="btn btn-primary action-btn-gray" href="{{ url_for('user.register_page') }}"
                               id="registerBtn" style="width: 100%" title="Register an account">
                                Not a user yet? Register here
                            </a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-xxl"></div>
        </div>

    </div>


    {% include "security/_menu.html" %}

{% endblock %}
