{% extends "base.html" %}

{% block container %}
    <title>Register success - VocaBee</title>

    <div class="align-items-center">
        <div class="row">
            <div class="col-xxl"></div>

            <div class="col-xxl">
                <div class="container-fluid text-container text-center">
                    <h1>Success!</h1>
                    <p>
                        Your account was created! You can now login.
                    </p>
                </div>

                <div class="container-fluid" id="login-content-container">
                    <form>
                        <div class="mb-4 row">
                            <a href="{{ url_for('user.login') }}">
                                <button class="btn btn-primary action-btn" id="loginBtn" title="To login page"
                                        type="button" style="width: 100%">
                                    Login
                                </button>
                            </a>

                        </div>
                    </form>
                </div>

            </div>

            <div class="col-xxl"></div>
        </div>
    </div>

{% endblock %}
