@import '../abstract/variables'

// Back button
#back-button
  margin-top: -4px
  color: $secondaryblack

  &:hover
    color: $mainblack

// Table
#vocab-table
  width: 100%

  th
    color: $mainblack

  tr
    color: $secondaryblack

.audio-column, .example-column
  text-align: center

#vocab-table > tbody > tr.child > td > ul > li
  display: flex
  align-items: center

  span.dtr-data
    margin-left: 10px


// Table buttons
#vocab-table tbody tr td > .btn-outline-primary.audio-button,
#vocab-table tbody tr td > ul > li > span > .btn-outline-primary.audio-button
  color: $mainorange
  background-color: unset
  border: 0
  outline: none
  padding-left: 0
  padding-right: 0

  &:hover, &:active
    color: $secondaryorange

#vocab-table tbody tr td > .btn-outline-primary.example-select,
#vocab-table tbody tr td > ul > li > span > .btn-outline-primary.example-select
  color: $mainorange
  border-color: $mainorange

  &:hover, &:active
    background-color: $secondaryorange
    border-color: $secondaryorange
    color: $mainwhite


// Table pagination
#vocab-table_paginate > ul
  flex-wrap: wrap

  li.page-item.first > a,
  li.page-item.last > a
    padding-left: 6px
    padding-right: 6px

#vocab-table_paginate > ul > li > a
  color: $mainblack
  box-shadow: none

  &:hover
    background-color: $mainorange
    color: $mainwhite

  .material-icons
    font-size: unset

#vocab-table_paginate > ul > li.page-item.active > a
  color: $mainwhite
  background-color: $mainorange
  border-color: $mainorange

// Media queries
@media (max-width: $navbar-breakpoint)
  #vocab-table_paginate > ul
    justify-content: center

@media (min-width: $navbar-breakpoint)
  #vocab-modal
    top: 2%
    padding-left: 0

  #vocab-modal > .modal-dialog
    max-width: 90%
    min-width: 90%

  #vocab-table
    td
      padding: 0.5rem 0.75rem