{% extends 'base.html' %}

{% block container %}
    <title>Anki decks - VocaBee</title>
    <!--Stylesheets -->
    <link href="{{ url_for('static', filename='css/pages/vocab.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/components/cards.css') }}" rel="stylesheet">
    <script async src="{{ url_for('static', filename='js/datatable_helper.js') }}"></script>
    <script async src="{{ url_for('static', filename='js/admin_editor.js') }}"></script>
    <!--Ref: https://datatables.net/ -->
    <!--Ref: Option 1 - Bootstrap / Option 2 DataTables / Option 3 Responsive) -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.css"/>
    <script async type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.js"></script>

    <div class="container-fluid text-container">
        <h1>Editor</h1>
        <p>
            Large chance you're not supposed to be here. If you entered this page unwillingly, please go back to <a
                href="{{ url_for('home.home') }}">the other pages</a> . If you entered it willingly, but are nice enough
            to not touch it, please leave a direct message on any of the social media to let me know how you did it!
        </p>
    </div>

    <div class="container-fluid" id="deck-content-container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">Vocabulary editor</h5>
                        <h6 class="card-subtitle mb-2 text-muted">To update an entry, retrieve it, enter new values and
                            click the save button. To create an entry, clear the fields, enter new values and click the
                            add button. To remove an entry, retrieve it and click the remove button.</h6>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="vocabIDprepend">ID</span>
                                    </div>
                                    <input type="text" id="vocabIDInput" class="form-control" placeholder="..."
                                           aria-label="...">
                                    <button class="btn btn-primary action-btn" title="get entry" type="button"
                                            id="vocabEntryGetBtn">get
                                    </button>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-6">
                                    <label for="kanjiOld">Current kanji</label>
                                    <input type="text" class="form-control" id="kanjiOld" readonly>
                                </div>
                                <div class="col-6">
                                    <label for="kanjiNew">New kanji</label>
                                    <input type="text" class="form-control" id="kanjiNew">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label for="kanaOld">Current kana</label>
                                    <input type="text" class="form-control" id="kanaOld" readonly>
                                </div>
                                <div class="col-6">
                                    <label for="kanaNew">New kana</label>
                                    <input type="text" class="form-control" id="kanaNew">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label for="meaningOld">Current meaning</label>
                                    <input type="text" class="form-control" id="meaningOld" readonly>
                                </div>
                                <div class="col-6">
                                    <label for="meaningNew">New meaning</label>
                                    <input type="text" class="form-control" id="meaningNew">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label for="jlptOld">Current JLPT level</label>
                                    <input type="text" class="form-control" id="jlptOld" readonly>
                                </div>
                                <div class="col-6">
                                    <label for="jlptNew">New JLPT level</label>
                                    <select class="form-select" id="jlptNew">
                                        <option value="N5">N5</option>
                                        <option value="N4">N4</option>
                                        <option value="N3">N3</option>
                                        <option value="N2">N2</option>
                                        <option value="N1">N1</option>
                                    </select>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-xl col-lg">
                                    <button class="btn btn-primary action-btn-gray" title="clear fields" type="button"
                                            id="vocabClearBtn">clear
                                    </button>
                                </div>
                                <div class="col-xl col-lg">
                                    <button class="btn btn-primary action-btn-red" title="delete entry" type="button"
                                            id="vocabDeleteBtn">delete
                                    </button>
                                </div>
                                <div class="col-xl col-lg">
                                    <button class="btn btn-outline-success" title="update entry" type="button"
                                            id="vocabUpdateBtn">update
                                    </button>
                                </div>
                                <div class="col-xl col-lg">
                                    <button class="btn btn-primary action-btn-green" title="add new entry" type="button"
                                            id="vocabAddBtn">add
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">Example editor</h5>
                        <h6 class="card-subtitle mb-2 text-muted">To update an entry, select it by opening the
                            datatable via the show example button, or by manually inputting the id. The rest is the same
                            as the vocabulary editor.</h6>
                    </div>
                    <div class="card-body">

                        <form>
                            <div class="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="exampleIDPrepend">ID</span>
                                    </div>
                                    <input type="text" id="exampleIDInput" class="form-control" placeholder="..."
                                           aria-label="...">
                                    <button class="btn btn-primary action-btn" title="get entry" type="button"
                                            id="exampleEntryGetBtn">get
                                    </button>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-6">
                                    <label for="sentenceJPOld">Current sentence JP</label>
                                    <input type="text" class="form-control" id="sentenceJPOld" readonly>
                                </div>
                                <div class="col-6">
                                    <label for="sentenceJPNew">New sentence JP</label>
                                    <input type="text" class="form-control" id="sentenceJPNew">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label for="sentenceENOld">Current sentence EN</label>
                                    <input type="text" class="form-control" id="sentenceENOld" readonly>
                                </div>
                                <div class="col-6">
                                    <label for="sentenceENNew">New sentence EN</label>
                                    <input type="text" class="form-control" id="sentenceENNew">
                                </div>
                            </div>

                            <br>
                            <div id="exampleContainer">
                                <button type="button" class="btn btn-outline-primary example-select"
                                        title="Show examples" id="showExampleBtn">Show examples
                                </button>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-xl col-lg">
                                    <button class="btn btn-primary action-btn-gray" title="clear fields" type="button"
                                            id="exampleClearBtn">clear
                                    </button>
                                </div>
                                <div class="col-xl col-lg">
                                    <button class="btn btn-primary action-btn-red" title="delete entry" type="button"
                                            id="exampleDeleteBtn">delete
                                    </button>
                                </div>
                                <div class="col-xl col-lg">
                                    <button class="btn btn-outline-success" title="update entry" type="button"
                                            id="exampleUpdateBtn">update
                                    </button>
                                </div>
                                <div class="col-xl col-lg">
                                    <button class="btn btn-primary action-btn-green" title="add new entry" type="button"
                                            id="exampleAddBtn">add
                                    </button>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>


            <div id="toastContainer">

            </div>


        </div>
    </div>

    <div class="modal fade modal-fullscreen" id="vocab-modal" tabindex="-1" role="dialog"
         aria-labelledby="modalLargeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLargeLabel">Examples</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="example-modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.querySelector('#vocabEntryGetBtn').addEventListener("click", function () {
            let urlBase = "{{ url_for('vocabulary_ajax.vocabulary_entry_get', vocabulary_id=5) }}";
            vocabEntryGet(urlBase);
        });

        document.querySelector('#vocabClearBtn').addEventListener("click", function () {
            clearVocabFields();
        });

        document.querySelector('#vocabDeleteBtn').addEventListener("click", function () {
            let urlBase = "{{ url_for('vocabulary_ajax.vocabulary_entry_delete') }}";
            vocabEntryDelete(urlBase);
        });

        document.querySelector('#vocabUpdateBtn').addEventListener("click", function () {
            let urlBase = "{{ url_for('vocabulary_ajax.vocabulary_entry_update') }}";
            vocabEntryUpdate(urlBase);
        });

        document.querySelector('#vocabAddBtn').addEventListener("click", function () {
            let urlBase = "{{ url_for('vocabulary_ajax.vocabulary_entry_add') }}";
            vocabEntryAdd(urlBase);
        });

        document.querySelector('#showExampleBtn').addEventListener("click", function () {
            showExampleOnClick();
            $('#vocab-modal').modal('show');
        });

        document.querySelector('#exampleEntryGetBtn').addEventListener("click", function () {
            let urlBase = "{{ url_for('example_ajax.example_entry_get', example_id=1) }}";
            exampleEntryGet(urlBase);
        });

        document.querySelector('#exampleClearBtn').addEventListener("click", function () {
            clearExampleFields();
        });

        document.querySelector('#exampleDeleteBtn').addEventListener("click", function () {
            let urlBase = "{{ url_for('example_ajax.example_entry_delete', example_id=1) }}";
            exampleEntryDelete(urlBase);
        });

        document.querySelector('#exampleUpdateBtn').addEventListener("click", function () {
            let urlBase = "{{ url_for('example_ajax.example_entry_update', example_id=1) }}";
            exampleEntryUpdate(urlBase);
        });

        document.querySelector('#exampleAddBtn').addEventListener("click", function () {
            let urlBase = "{{ url_for('example_ajax.example_entry_add', example_id=1) }}";
            exampleEntryAdd(urlBase);
        });

    </script>

{% endblock %}