{% extends 'base.html' %}

{% block container %}
    <title>Anki decks - VocaBee</title>
    <!--Stylesheets -->
    <link href="{{ url_for('static', filename='css/components/cards.css') }}" rel="stylesheet">

    <div class="container-fluid text-container">
        <h1>Editor</h1>
        <p>
            Large chance you're not supposed to be here. If you entered this page unwillingly, please go back to <a
                href="{{ url_for('home.home') }}">the other pages</a> . If you entered it willingly, but are nice enough
            to not touch it, please leave a direct message on any of the VocaBee social media to let me know how you
            did it!
        </p>
    </div>

    <div class="container-fluid" id="deck-content-container">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">Vocabulary editor</h5>
                        <h6 class="card-subtitle mb-2 text-muted">To update an entry, retrieve it, enter new values and
                            click the save button. To create an entry, clear the fields, enter new values and click the
                            add button. To remove an entry, retrieve it and click the remove button.</h6>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="vocab-id-prepend">ID</span>
                                    </div>
                                    <input type="text" id="vocab_id_input" class="form-control" placeholder="..."
                                           aria-label="...">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary action-btn" title="get entry" type="button"
                                                id="vocabEntryGetBtn">get
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="kanjiOld">Current kanji</label>
                                    <input type="text" class="form-control" id="kanjiOld" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="kanjiNew">New kanji</label>
                                    <input type="text" class="form-control" id="kanjiNew">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="kanaOld">Current kana</label>
                                    <input type="text" class="form-control" id="kanaOld" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="kanaNew">New kana</label>
                                    <input type="text" class="form-control" id="kanaNew">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="meaningOld">Current meaning</label>
                                    <input type="text" class="form-control" id="meaningOld" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="meaningNew">New meaning</label>
                                    <input type="text" class="form-control" id="meaningNew">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="jlptOld">Current JLPT level</label>
                                    <input type="text" class="form-control" id="jlptOld" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="jlptNew">New JLPT level</label>
                                    <select class="custom-select" id="jlptNew">
                                        <option value="N5">N5</option>
                                        <option value="N4">N4</option>
                                        <option value="N3">N3</option>
                                        <option value="N2">N2</option>
                                        <option value="N1">N1</option>
                                    </select>
                                </div>
                            </div>

                            <hr>

                            <div class="form-row">
                                <div class="form-group col-3">
                                    <button class="btn btn-primary action-btn-gray" title="clear fields" type="button"
                                            id="vocabClearBtn">clear
                                    </button>
                                </div>
                                <div class="form-group col-3">
                                    <button class="btn btn-primary action-btn-red" title="delete entry" type="button"
                                            id="vocabDeleteBtn">delete
                                    </button>
                                </div>
                                <div class="form-group col-3">
                                    <button class="btn btn-outline-success" title="update entry" type="button"
                                            id="vocabUpdateBtn">update
                                    </button>
                                </div>
                                <div class="form-group col-3">
                                    <button class="btn btn-primary action-btn-green" title="add new entry" type="button"
                                            id="vocabAddBtn">add
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">Example editor</h5>
                        <h6 class="card-subtitle mb-2 text-muted">To update an entry, retrieve it, enter new values and
                            click the save button. To create an entry, clear the fields, enter new values and click the
                            add button. To remove an entry, retrieve it and click the remove button.</h6>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        function clearFields() {
            $('#vocab_id_input').val("");
            $('#kanjiOld').val("");
            $('#kanaOld').val("");
            $('#meaningOld').val("");
            $('#jlptOld').val("");
            $('#kanjiNew').val("");
            $('#kanaNew').val("");
            $('#meaningNew').val("");
        }


        $('#vocabEntryGetBtn').click(function () {
            let urlBase = "{{ url_for('vocabulary_ajax.vocabulary_entry_get', vocab_id=5) }}";
            let vocabID = $('#vocab_id_input').val();
            let requestUrl = urlBase.slice(0, -1) + vocabID;
            clearFields();

            $.ajax({
                url: requestUrl,
                type: "GET",
                success: function (result) {
                    if (result === "") {
                        alert("Entry not found");
                    } else {
                        $('#vocab_id_input').val(vocabID);
                        $('#kanjiOld').val(result.kanji);
                        $('#kanaOld').val(result.hiragana);
                        $('#meaningOld').val(result.english);
                        $('#jlptOld').val(result.jlpt_level);
                        $('#kanjiNew').val(result.kanji);
                        $('#kanaNew').val(result.hiragana);
                        $('#meaningNew').val(result.english);
                        $('#jlptNew').val(result.jlpt_level);
                    }
                }
            });
        });

        $('#vocabClearBtn').click(function () {
            clearFields();
        });

        $('#vocabDeleteBtn').click(function () {
            let c = confirm("Are you sure you want to delete this entry?")
            if (c === true) {
                let urlBase = "{{ url_for('vocabulary_ajax.vocabulary_entry_delete') }}";
                let vocabID = $('#vocab_id_input').val();

                $.ajax({
                    url: urlBase,
                    type: "POST",
                    data: {id: vocabID},
                });

                clearFields();
                alert("Entry " + vocabID + " deleted");
            }
        });

        $('#vocabUpdateBtn').click(function () {
            let c = confirm("Are you sure you want to update this entry?")
            if (c === true) {
                let urlBase = "{{ url_for('vocabulary_ajax.vocabulary_entry_update') }}";
                let vocabID = $('#vocab_id_input').val();
                let kanji = $('#kanjiNew').val();
                let kana = $('#kanaNew').val();
                let meaning = $('#meaningNew').val();
                let jlpt_level = $('#jlptNew').val();
                console.log(jlpt_level);

                $.ajax({
                    url: urlBase,
                    type: "POST",
                    data: {id: vocabID, kanji: kanji, kana: kana, meaning: meaning, jlpt_level: jlpt_level},
                });

                alert("Entry " + vocabID + " updated");
            }
        });

        $('#vocabAddBtn').click(function () {
            let c = confirm("Are you sure you want to add this entry?")
            if (c === true) {
                let urlBase = "{{ url_for('vocabulary_ajax.vocabulary_entry_add') }}";
                let kanji = $('#kanjiNew').val();
                let kana = $('#kanaNew').val();
                let meaning = $('#meaningNew').val();
                let jlpt_level = $('#jlptNew').val();

                $.ajax({
                    url: urlBase,
                    type: "POST",
                    data: {kanji: kanji, kana: kana, meaning: meaning, jlpt_level: jlpt_level},
                });

                alert("Entry " + 0 + " updated");
            }
        });
    </script>
{% endblock %}