<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="JLPT vocabulary repository">
    <meta name="keywords" content="Japanese, Vocabulary, Kanji, Hiragana">
    <meta name="author" content="Michael Verdegaal">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Japanese vocab grinder</title>

    <!--Ref: https://getbootstrap.com/docs/4.4/getting-started/download/ -->
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!--Ref: https://github.com/keaukraine/bootstrap4-fs-modal -->
    <link href="{{ url_for('static', filename='bootstrap/bootstrap-fs-modal.min.css') }}" rel="stylesheet">
    <!--Ref: https://jquery.com/download/ -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <!--Ref: https://datatables.net/ -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>

</head>
<body>

<!--start navbar-->
{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/vocab', 'vocab', 'Vocabulary')
] -%}

{% set active_page = active_page|default('index') -%}

<nav class="navbar navbar-light navbar-expand-lg sticky-top" style="background-color: #f5f5f5;">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/brand-logo-vg.png') }}" width="45" height="45"
             style="padding-bottom: 5px">
        <strong>Vocab grinder</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="navigation">
            {% for href, id, caption in navigation_bar %}
                <li class="nav-item {% if id == active_page %} active {% endif %}">
                    <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<!--end navbar-->

<div class="container-fluid" id="content-block-container">
    {% block container %}{% endblock %}
</div>
<!--Ref: https://getbootstrap.com/docs/4.4/getting-started/download/ -->
<script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
</body>
</html>