{% extends 'base.html' %}

{% block container %}
    <link href="{{ url_for('static', filename='css/vocab.css') }}" rel="stylesheet">

    <div class="table-responsive" id="vocab-table-container">
        <table class="table table-striped" id="vocab-table">
        </table>
    </div>

    <script type="text/javascript">
        // Initialize vocabulary entries
        let vocab = {{ vocab | safe }};
        let entries = vocab.entries;

        $(document).ready(function () {
            $('#vocab-table').DataTable({
                data: entries,
                columns: [
                    {title: "Kanji"},
                    {title: "Hiragana"},
                    {title: "English"},
                    {title: "Level"}
                ],
                deferRender: true,
                orderClasses: false,
                autoWidth: false
            });
        });
    </script>

{% endblock %}