{% extends 'base.html' %}

{% block container %}

    <label><input type="checkbox" rel="N5"/>N5</label>
    <label><input type="checkbox" rel="N4"/>N4</label>
    <label><input type="checkbox" rel="N3"/>N3</label>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Kanji</th>
            <th>Hiragana</th>
            <th>English</th>
            <th>JLPT level</th>
            <th>Examples</th>
        </tr>
        </thead>
        <tbody class="searchable">
        <tr>
            <td>会う</td>
            <td>あう</td>
            <td>to meet</td>
            <td class="N5">N5</td>
            <td>No</td>
        </tr>
        <tr>
            <td>月</td>
            <td>つき</td>
            <td>moon,month</td>
            <td class="N3">N3</td>
            <td>None</td>
        </tr>
        </tbody>
    </table>



    <script src="{{ url_for('static', filename='js/vocab.js') }}"></script>

{% endblock %}