@import '../abstract/variables'

.pagination
  flex-wrap: wrap

.page-item a
  color: $mainblack
  box-shadow: none !important

  &:hover
    background-color: $mainorange
    color: $mainwhite

.page-item.active .page-link
  color: $mainwhite
  background-color: $mainorange !important
  border-color: $mainorange !important

th
  color: $mainblack

tr
  color: $secondaryblack

table
  width: 100% !important

.modal-dialog
  max-width: 90%
  min-width: 90%

#back-button
  margin-top: -4px
  color: $secondaryblack

  &:hover
    color: $mainblack