@import '../abstract/variables'

.pagination
  flex-wrap: wrap

.page-item a
  color: $mainblack
  box-shadow: none !important

.page-item a:hover
  background-color: $mainorange
  color: $mainwhite

.page-item.active .page-link
  color: $mainwhite
  background-color: $mainorange !important
  border-color: $mainorange !important

th
  color: $mainblack

tr
  color: $secondaryblack

#back-button
  margin-top: -4px
  color: $secondaryblack

#back-button:hover
  color: $mainblack