{% extends 'base.html' %}
{% set active_page = "home" %}

{% block container %}
    <title>Home - VocaBee</title>
    <div class="container-fluid text-container">
        <h1>VocaBee</h1>
        <p>Vocabee is meant to be the next-generation solution for your Japanese language needs. Instead of traditional
            textbooks, VocaBee makes full use of the power of modern technology to greatly enhance your study
            efficiency, by adding features that real life methods can’t accomplish.</p>
        <h1>Why this website</h1>
        <p>In the Japanese language there’s commonly agreed to only be one solid exam to test your knowledge, the
            Japanese Language Proficiency Test, or commonly abbreviated to JLPT. The JLPT is a worldwide written exam
            testing your knowledge of vocabulary, grammar, kanji and listening skills.

            Over the many years of language learners, a great number of tools to help you master this difficult language
            have appeared, some of them incredibly well thought out. As a learner myself however, I always felt slightly
            wronged by the current methods of learning vocabulary. I always felt like I was limited by tools that were
            either outdated, too pricey or just plain outdated. This is why I felt inspired to build VocaBee, a website
            to learn Japanese in a modern way, or at the least provide you with an easier to browse vocabulary list.</p>
        <h1>Future features</h1>
        <p>Although rather bare at the moment, lots of promising features are planned. Notable ones are custom anki
            decks, a highly customizable vocabulary quiz and an effortless way to create your own vocabulary lists.</p>
    </div>
{% endblock %}