@import '../abstract/variables'

body
  font-family: "Open Sans", sans-serif
  background-color: $secondarywhite

h1, h2, h3, h4, h5, h6
  color: $mainblack

p, label
  color: $secondaryblack

.container-fluid
  padding: 10px

a
  text-decoration: none
  color: $mainblue

a:hover
  color: $secondaryblue
